
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif';
  background-color: #FFFFFF;
  color: #333;
}

header {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1.5rem;
}

.nav-links {
  display: inline;
}

.hero {
  max-width: 1140px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}


.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.image-section {
  order: 2;
}

.text-section {
  order: 1;
}

.products {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;

}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

}

.product-card {
  background: #FFFFFF;

}

.product-card img {
  width: 100%;
  margin-bottom: 1rem;
}

.add-btn {
  background: #f97316;
  color: white;
  border: none;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  cursor: pointer;
}


.container {
  max-width: 1140px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

.plant-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.badge {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  z-index: 10;
  filter: drop-shadow(3px 3px 2px rgba(94, 93, 93, 0.5));
}

.plant-text-section {
  background-color: #FFFFFF;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plant-text-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #111827;
}

.plant-text-section ul {
  list-style: disc;
  padding-left: 20px;
  color: #555;
}

.plant-text-section ul li {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.deals-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.deal-card {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
}

.left-cards {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.hero2 {
  background: url('../assets/news-letter-bg.png') no-repeat center center/cover;
  height: 533px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.hero2-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero2 h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  width: 100%;
  max-width: 420px;
}

.subscribe-form input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: white;
}

.subscribe-form button {
  padding: 10px 16px;
  font-size: 1rem;
  background-color: rgb(249, 115, 22);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.subscribe-form button:hover {
  background-color: rgb(233, 89, 12);
}

.footer-container {
  max-width: 1140px;
  margin: 70px auto;
  background-color: #FFFFFF;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer-logo-section {
  width: 360px;
}

.footer-logo {
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #f97316;
  margin-bottom: 12px;
}

.footer-description {
  font-size: 14px;
  color: rgb(102, 102, 102);
  margin-bottom: 24px;
}


.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(137, 135, 135);
}

.footer-column ul li a:hover {
  color: rgb(249, 115, 22);
}

.footer-social {
  display: flex;
  gap: 16px;
  font-size: 20px;
  margin-top: 12px;
}

.footer-social a {
  text-decoration: none;
  color: #444;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-column {
  width: 216px;
  height: 36px;
  display: flex;
  gap: 20px;
}






/* Design for mobile */

@media (max-width: 768px) {
  nav .nav-links {
    display: none;
  }

  header {
    padding: 1rem;
  }

  header img {
    height: auto;
  }

  .hero {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .image-section {
    order: 1;
  }

  .text-section {
    order: 2;
    text-align: left;
    padding: 24px 24px;
  }

  .products {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .container {
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .container .image-section img {
    padding: 24px;
  }

  .badge {
    display: none;
  }

  .plant-text-section {
    padding: 0;
    text-align: left;
  }

  .plant-text-section ul {
    text-align: left;
    margin: 0 auto;
    max-width: 90%;
  }
  .deals-grid {
    grid-template-columns: 1fr;
  }

  .left-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero2 h1 {
    font-size: 1.5rem;
  }
  .footer-container {
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
    gap: 0px;
  }

  .footer-column {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-social {
    margin-top: 0;
  }


}
    